html, body 	{ font-family:			Lucida Grande;
			  font-size:			32px;
			  color:				#DCDCDC;
			  padding:				5px;
			  margin:				2px;
			  text-align:           center;
			  background-color:		#E8C49B;
			}

header		{ text-align:			center;
			  font-family:			"Alegreya Sans SC";
			  font-weight:			bold;
			  color:				white;
			  font-size:			100px;
			  background-image: 	url();
			  border-radius:		5px;
			  padding:				30px 20px 30px 20px;
			  margin-bottom:		1px;
			  text-shadow:			1px 1px 5px #000000; }

footer      { color: white;


            }