html, body 	{ font-family:			Lucida Grande;
			  font-size:			15px;
			  color:				white;
			  padding:				5px;
			  margin:				2px;
			  background-color:		#E8C49B;
			}

header		{ text-align:			center;
			  font-family:			"Alegreya Sans SC";
			  font-weight:			bold;
			  color:				white;
			  font-size:			100px;
			  background-image: 	url();
			  border-radius:		5px;
			  padding:				30px 20px 30px 20px;
			  margin-bottom:		1px;
			  text-shadow:			1px 1px 4px #000000; }

nav			{ background-color:		white;
			  border-radius:		9px;
			  padding:				10px 10px 10px 10px;
			  margin-bottom:		1px;
			  text-align:           right;
			  color:                black;
			  }


footer      { color:                black;
              height:               60px;
              position:             absolute;
              bottom:               0;
              width:                100%;
              text-align:           center;
              clear:                both;
              background-color:     white;
              border-radius:        9px;

            }

form		{ text-align:           left;
            }


.btn        { border:                 none;
              background-color:       inherit;
              padding:                7px 14px;
              font-size:              16px;
              cursor:                 pointer;
              display:                inline-block;
            }

.ngbutton{color: #A42828;}
.ngbutton:hover{background-color: #A42828;
                   color: white;}

.jgbutton{color: #C33DCD;}
.jgbutton:hover{background-color: #C33DCD;
                   color: white;}

.ipbutton{color: #ED9237;}
.ipbutton:hover{background-color: #ED9237;
                   color: white;}

.leaderboard {color: green; }
.leaderboard:hover{background-color: #4CAF50;
                   color: white;}

.inpgames {color: red; }
.inpgames:hover{background-color: #A42828;
                   color: white;}

.compgames {color: dodgerblue;}
.compgames:hover{background-color: #2196F3;
                 color: white;}

.connect6image{ height: 60%;
                width: 60%;
               }
article		{ font-family:			"Hind Vadodara", sans-serif;
              border-radius:		20px;
              width:               31.5%;
              color:				white;
              padding:				10px 10px 10px 10px;
              position:             bottom: 50;}

article.col	{
			  height:				250px;
			  border:				thin solid black;
			  padding:				10px 10px 10px 10px;
			  float:                left;
			  color:                black;
			  text-align:           center;
			  background-color:    white;
			  }

.popcornimage{height: 60%; }

.arrowimage{height; 49%;
            width:  49%;}

.githublink{float: left;
            padding-left: 10px;
            padding-top: 4px;
            padding-bottom: 7px;}